# Set JavaScript as the primary language
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript

# Exclude certain files from language detection
*.bat linguist-detectable=false
*.ps1 linguist-detectable=false
*.swift linguist-detectable=false
*.kt linguist-detectable=false
*.rb linguist-detectable=false
android/gradlew.bat linguist-detectable=false
ios/BillingApp5/AppDelegate.swift linguist-detectable=false
Gemfile linguist-detectable=false
Podfile linguist-detectable=false
node_modules/* linguist-vendored
backend/node_modules/* linguist-vendored

# Mark documentation files
*.md linguist-documentation

# Mark configuration files
*.json linguist-language=JSON
*.xml linguist-language=XML
*.gradle linguist-language=Gradle
